h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
a {
  color: #515a6e;
}
a a:hover {
  color: #17233d;
}
main {
  width: 980px;
  margin: 50px auto 0;
  padding-top: 30px;
}
[class^=sec] {
  margin-bottom: 30px;
}
.expand-width {
  margin-right: -10px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.hide {
  display: none !important;
}
.tip-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.tip-load.tip-loading {
  width: 237px;
}
.tip-load.tip-no-more {
  width: 100%;
}
.tip-load .spin-container {
  display: flex;
  margin-top: 10px;
}
